body {
  font-family: Poppins;
}
.display-1 {
  font-family: 'Roboto', sans-serif;
  font-size: 3.2rem;
}
.display-2 {
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
}
.display-4 {
  font-family: 'Roboto', sans-serif;
  font-size: 0.875rem;
}
.display-5 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
}
.display-7 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.06rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.56rem;
    font-size: calc( 1.77rem + (3.2 - 1.77) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.77rem + (3.2 - 1.77) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.7rem;
    font-size: calc( 0.95625rem + (0.875 - 0.95625) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.95625rem + (0.875 - 0.95625) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #40a8e4 !important;
}
.bg-success {
  background-color: #142a4f !important;
}
.bg-info {
  background-color: #40a8e4 !important;
}
.bg-warning {
  background-color: #40a8e4 !important;
}
.bg-danger {
  background-color: #ffffff !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #40a8e4 !important;
  border-color: #40a8e4 !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff !important;
  background-color: #40a8e4 !important;
  border-color: #40a8e4 !important;
}
.btn-primary:before {
  background-color: #1b81bd !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #1b81bd !important;
  border-color: #1b81bd !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #40a8e4 !important;
  border-color: #40a8e4 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff !important;
  background-color: #40a8e4 !important;
  border-color: #40a8e4 !important;
}
.btn-secondary:before {
  background-color: #1b81bd !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #1b81bd !important;
  border-color: #1b81bd !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #40a8e4 !important;
  border-color: #40a8e4 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff !important;
  background-color: #40a8e4 !important;
  border-color: #40a8e4 !important;
}
.btn-info:before {
  background-color: #1b81bd !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #1b81bd !important;
  border-color: #1b81bd !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #142a4f !important;
  border-color: #142a4f !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #ffffff !important;
  background-color: #142a4f !important;
  border-color: #142a4f !important;
}
.btn-success:before {
  background-color: #050a12 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #050a12 !important;
  border-color: #050a12 !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #40a8e4 !important;
  border-color: #40a8e4 !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #ffffff !important;
  background-color: #40a8e4 !important;
  border-color: #40a8e4 !important;
}
.btn-warning:before {
  background-color: #1b81bd !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #1b81bd !important;
  border-color: #1b81bd !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-danger:before {
  background-color: #d9d9d9 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-white:before {
  background-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-black:before {
  background-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none;
  border-color: #1872a6;
  color: #1872a6;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #ffffff;
  border-color: #40a8e4;
}
.btn-primary-outline:before {
  background-color: #40a8e4;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #40a8e4 !important;
  border-color: #40a8e4 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none;
  border-color: #1872a6;
  color: #1872a6;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff;
  border-color: #40a8e4;
}
.btn-secondary-outline:before {
  background-color: #40a8e4;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #40a8e4 !important;
  border-color: #40a8e4 !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none;
  border-color: #1872a6;
  color: #1872a6;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff;
  border-color: #40a8e4;
}
.btn-info-outline:before {
  background-color: #40a8e4;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #40a8e4 !important;
  border-color: #40a8e4 !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #ffffff;
  border-color: #142a4f;
}
.btn-success-outline:before {
  background-color: #142a4f;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #142a4f !important;
  border-color: #142a4f !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none;
  border-color: #1872a6;
  color: #1872a6;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #ffffff;
  border-color: #40a8e4;
}
.btn-warning-outline:before {
  background-color: #40a8e4;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #40a8e4 !important;
  border-color: #40a8e4 !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none;
  border-color: #cccccc;
  color: #cccccc;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #808080;
  border-color: #ffffff;
}
.btn-danger-outline:before {
  background-color: #ffffff;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff;
  border-color: #333333;
}
.btn-black-outline:before {
  background-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  border-color: #ffffff;
}
.btn-white-outline:before {
  background-color: #ffffff;
}
.btn-bgr {
  position: relative;
  transition: border 0.3s ease-in-out, color 0.5s;
  -webkit-mask-image: -webkit-radial-gradient(circle, white, black);
}
.btn-bgr span {
  position: relative;
  z-index: 12;
}
.btn-bgr:before {
  content: ' ';
  position: absolute;
  top: -2px;
  left: -2px;
  right: 105%;
  bottom: -2px;
  transition: right 0.3s ease-in-out;
  z-index: -1;
  border-radius: 100px;
}
.btn-bgr:hover:before {
  right: -2px;
}
.btn-underline {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: color 0.2s ease-out;
}
.btn-underline:before {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #40a8e4;
  -webkit-transition: width 0.2s ease-out;
  -moz-transition: width 0.2s ease-out;
  transition: width 0.2s ease-out;
}
.btn-underline:hover:before {
  width: 100%;
}
.text-primary {
  color: #40a8e4 !important;
}
.text-secondary {
  color: #40a8e4 !important;
}
.text-success {
  color: #142a4f !important;
}
.text-info {
  color: #40a8e4 !important;
}
.text-warning {
  color: #40a8e4 !important;
}
.text-danger {
  color: #ffffff !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #1872a6 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #1872a6 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #000000 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #1872a6 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #1872a6 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #cccccc !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #40a8e4;
}
.alert-warning {
  background-color: #40a8e4;
}
.alert-danger {
  background-color: #ffffff;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #40a8e4;
  border-color: #40a8e4;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #40a8e4;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #f3f9fd;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #6e97da;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #f3f9fd;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #f3f9fd;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
blockquote {
  border-color: #40a8e4;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.form2 .form-control {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.form2 .input-group-btn a.btn {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form2 .input-group-btn button[type="submit"] {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form3 input[type="email"] {
  border-radius: 100px !important;
}
@media (max-width: 349px) {
  .form2 input[type="email"] {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn a.btn {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn button[type="submit"] {
    border-radius: 100px !important;
  }
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #40a8e4;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #40a8e4;
}
/*Menu*/
.display-1 > .mbr-iconfont {
  font-size: 5.12rem;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.4rem;
}
.display-5 > .mbr-iconfont {
  font-size: 1.92rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.696rem;
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #40a8e4;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #40a8e4;
  border-bottom-color: #40a8e4;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #40a8e4 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #40a8e4 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%2340a8e4' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
.cid-t23Qku6elT {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #40a8e4;
}
.cid-t23Qku6elT .block-title {
  color: #40a8e4;
}
.cid-qNIBUbBXm9 {
  padding-top: 20px;
  padding-bottom: 0px;
  background-color: #fafafa;
}
.cid-qNIBUbBXm9 .media-content .btn-bgr {
  z-index: 0;
}
.cid-qNIBUbBXm9 .mbr-section-text {
  word-break: break-word;
}
.cid-qNIBUbBXm9 .mbr-overlay {
  background: linear-gradient(90deg, #000000, #000000);
}
@media (min-width: 992px) {
  .cid-qNIBUbBXm9 .mbr-figure {
    padding-top: 3rem;
    padding-bottom: 0rem;
    padding-right: 9rem;
    padding-left: 0rem;
  }
}
@media (max-width: 991px) {
  .cid-qNIBUbBXm9 .mbr-figure {
    padding-top: 1rem;
  }
}
@media (max-width: 767px) {
  .cid-qNIBUbBXm9 .mbr-text {
    text-align: center;
  }
}
.cid-qNIBUbBXm9 .media-container-row {
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
}
.cid-qNIBUbBXm9 H1 {
  color: #40a8e4;
  text-align: left;
}
.cid-qNIBUbBXm9 B {
  color: #2c98b0;
}
.cid-qNIBUbBXm9 .mbr-text,
.cid-qNIBUbBXm9 .mbr-section-btn {
  text-align: justify;
  color: #000000;
}
.cid-t23RMXO836 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-t23RMXO836 h4 {
  font-weight: 600;
  color: #e2e2e2;
}
.cid-t23RMXO836 .mbr-section-subtitle {
  color: #767676;
}
.cid-t23RMXO836 .article {
  padding-right: 2rem;
  padding-left: 2rem;
}
@media (min-width: 768px) {
  .cid-t23RMXO836 .article-right-border {
    border-right: 2px dotted #e2e2e2;
  }
}
.cid-t23RMXO836 H2 {
  color: #40a8e4;
}
.cid-t23RMXO836 .article-counter-left {
  color: #40a8e4;
}
.cid-t23RMXO836 .article-counter-right {
  color: #40a8e4;
}
.cid-r7UdqqsBBd {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-r7UdqqsBBd .text-content .btn-bgr {
  z-index: 0;
}
.cid-r7UdqqsBBd .mbr-overlay {
  background: linear-gradient(90deg, #d6173f, #4284df);
}
.cid-r7UdqqsBBd h3 {
  color: #ffffff;
  font-weight: 300;
}
.cid-r7UdqqsBBd p {
  color: #ffffff;
}
.cid-r7UdqqsBBd h2 {
  color: #ffffff;
}
.cid-r7UdqqsBBd .text-content {
  padding: 2rem 0rem;
  background-color: #40a8e4;
}
.cid-r7UdqqsBBd .mbr-section-btn {
  margin-left: -0.8rem;
}
.cid-r7UdqqsBBd .media-container-row {
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (max-width: 767px) {
  .cid-r7UdqqsBBd .mbr-text {
    text-align: center;
  }
}
@media (max-width: 991px) {
  .cid-r7UdqqsBBd .text-content {
    margin-bottom: 2rem;
  }
}
.cid-r7UdqqsBBd .mbr-section-btn,
.cid-r7UdqqsBBd .mbr-section-title {
  color: #ffffff;
}
.cid-r7UdqqsBBd P {
  color: #ffffff;
}
.cid-qTLj4djdo7 {
  padding-top: 80px;
  padding-bottom: 0px;
  background-color: #40a8e4;
}
.cid-qTLj4djdo7 .media-content .btn-bgr {
  z-index: 0;
}
.cid-qTLj4djdo7 .mbr-section-text {
  word-break: break-word;
}
.cid-qTLj4djdo7 .mbr-overlay {
  background: linear-gradient(90deg, #2c98b0, #2c98b0);
}
@media (min-width: 992px) {
  .cid-qTLj4djdo7 .mbr-figure {
    padding-left: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-qTLj4djdo7 .mbr-figure {
    padding-top: 1rem;
  }
}
@media (max-width: 767px) {
  .cid-qTLj4djdo7 .mbr-text {
    text-align: bottom;
  }
}
.cid-r7U3KSfVBA {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-r7U3KSfVBA .block-title B {
  color: #ffffff;
}
.cid-r7U3KSfVBA .block-title {
  color: #40a8e4;
}
.cid-r7U3FYMVsA {
  padding-top: 30px;
  padding-bottom: 30px;
  background: linear-gradient(0deg, #efefef, #ffffff);
}
.cid-r7U3FYMVsA a {
  text-align: center;
}
.cid-r7U3FYMVsA p {
  color: #0a0a0a;
  text-align: center;
}
.cid-r7U3FYMVsA span {
  font-size: 2rem;
}
.cid-r7U3FYMVsA .mbr-iconfont-social {
  font-size: 20px;
  width: 44px;
  padding-top: 6px;
  display: inline-block;
  line-height: 38px;
  border-radius: 50%;
}
.cid-r7U3FYMVsA .socicon-twitter {
  color: #4da7de;
}
.cid-r7U3FYMVsA .socicon-facebook {
  color: #3e5b98;
}
.cid-r7U3FYMVsA .socicon-googleplus {
  color: #dd4b39;
}
.cid-r7U3FYMVsA .socicon-instagram {
  color: #3f729b;
}
.cid-r7U3FYMVsA .social-list a:focus {
  text-decoration: none;
}
.cid-r7U3FYMVsA .text-copyright {
  width: 100%;
}
.cid-r7U3FYMVsA .img-logo-footer {
  margin-right: 1rem;
  max-width: 5rem;
}
.cid-r7U3FYMVsA .text-logo-footer {
  display: inline-block;
  vertical-align: middle;
}
.cid-r7U3FYMVsA .logo-footer {
  line-height: normal;
}
.cid-r7U3FYMVsA .copyright {
  display: flex;
  align-items: center;
}
.cid-r7U3FYMVsA .social-btns {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-r7U3FYMVsA .media-container-row {
  align-items: center;
}
.cid-r7U3FYMVsA .media-container-row a {
  margin: 0 1rem;
}
.cid-r7U3FYMVsA P {
  color: #40a8e4;
}
.cid-t23tC3lHzz .navbar {
  padding: .5rem 0;
  background: #ffffff;
  transition: none;
  min-height: 77px;
}
@media (min-width: 992px) {
  .cid-t23tC3lHzz .navbar .dropdown .dropdown-menu .dropdown-item {
    padding: 0.235em 2.5385em 0.235em 3.5385em !important;
    margin: 0 !important;
  }
}
.cid-t23tC3lHzz .menu-logo {
  display: flex;
  position: relative;
  -webkit-align-items: center;
  align-items: center;
  margin-right: auto;
}
.cid-t23tC3lHzz .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0.5rem 0;
  transition: padding .2s;
  min-height: 3.8rem;
  -webkit-align-items: center;
  align-items: center;
}
.cid-t23tC3lHzz .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-t23tC3lHzz .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-t23tC3lHzz .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-t23tC3lHzz .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-t23tC3lHzz .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-t23tC3lHzz .navbar-dropdown.bg-color.transparent.opened {
  background: #ffffff;
}
.cid-t23tC3lHzz a {
  font-style: normal;
}
.cid-t23tC3lHzz .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: middle;
  position: relative;
  text-decoration: none;
}
.cid-t23tC3lHzz .nav-item a {
  padding: 0.4rem 0 !important;
}
.cid-t23tC3lHzz .dropdown-item:before {
  font-family: MobiriseIcons !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-t23tC3lHzz .dropdown-item:hover:before {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  width: 16px;
}
.cid-t23tC3lHzz .content-text {
  margin-bottom: 0;
}
.cid-t23tC3lHzz .navbar-nav {
  position: relative;
  min-height: 60px;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}
@media (min-width: 992px) {
  .cid-t23tC3lHzz .navbar-nav .main-menu-animated-line {
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    z-index: 100;
    border-top: 4px solid #40a8e4;
    -webkit-transition: width 0.4s, left 0.6s cubic-bezier(0.19, 0.65, 0.02, 0.93);
    -moz-transition: width 0.4s, left 0.6s cubic-bezier(0.19, 0.65, 0.02, 0.93);
    transition: width 0.4s, left 0.6s cubic-bezier(0.19, 0.65, 0.02, 0.93);
  }
  .cid-t23tC3lHzz .navbar-nav .main-menu-animated-line.bottom {
    bottom: 0;
  }
  .cid-t23tC3lHzz .navbar-nav .nav-item a {
    margin: 0 1.3rem !important;
  }
}
@media (max-width: 991px) {
  .cid-t23tC3lHzz .navbar-nav .nav-item a {
    margin: 0 !important;
  }
}
.cid-t23tC3lHzz .navbar-nav .nav-item span {
  padding-right: 0.1rem;
}
.cid-t23tC3lHzz .display-4 > .mbr-iconfont {
  font-size: 1.43em;
}
.cid-t23tC3lHzz .display-4 > .btn > .mbr-iconfont {
  font-size: 1.43em;
}
.cid-t23tC3lHzz .nav-dropdown .dropdown-item {
  font-weight: 400;
}
.cid-t23tC3lHzz .navbar-buttons.mbr-section-btn {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-t23tC3lHzz .nav-dropdown .link {
  font-weight: 400;
}
.cid-t23tC3lHzz .menu .navbar-brand .logo-text-part {
  vertical-align: top;
}
.cid-t23tC3lHzz .content-right-side {
  text-align: center;
}
@media (max-width: 575px) {
  .cid-t23tC3lHzz .content-right-side {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
  }
  .cid-t23tC3lHzz .content-right-side .content-link {
    font-size: 0.8rem;
    margin: 0;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
  }
}
.cid-t23tC3lHzz .menu-content-top {
  display: none;
  padding: 1rem 0;
  transition: height 0.3s ease-in-out;
}
.cid-t23tC3lHzz .menu-content-top.show {
  display: block;
}
.cid-t23tC3lHzz .content-right-side .content-link {
  margin-left: 1rem;
}
.cid-t23tC3lHzz .content-right-side .content-link span {
  vertical-align: middle;
  padding-right: 1rem;
}
@media (max-width: 991px) {
  .cid-t23tC3lHzz .content-left-side {
    text-align: center;
    padding-bottom: 1rem;
  }
  .cid-t23tC3lHzz .dropdown-item {
    padding: 0.235em 0 !important;
    margin: 0 !important;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
  }
  .cid-t23tC3lHzz .dropdown-item:before {
    display: none;
  }
  .cid-t23tC3lHzz .menu-logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .cid-t23tC3lHzz .menu-bottom {
    width: 100%;
    padding: 0 1rem;
    display: block;
  }
  .cid-t23tC3lHzz img {
    height: 3.8rem !important;
  }
  .cid-t23tC3lHzz .btn {
    display: flex;
  }
  .cid-t23tC3lHzz button.navbar-toggler {
    display: block;
  }
  .cid-t23tC3lHzz .navbar-brand {
    margin-left: 1rem !important;
    margin-top: .5rem;
  }
  .cid-t23tC3lHzz .navbar-toggleable-sm {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .cid-t23tC3lHzz .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-t23tC3lHzz .navbar-collapse.collapsing,
  .cid-t23tC3lHzz .navbar-collapse.show {
    display: block !important;
  }
  .cid-t23tC3lHzz .navbar-collapse.collapsing .navbar-nav,
  .cid-t23tC3lHzz .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-t23tC3lHzz .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-t23tC3lHzz .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
    padding: 0.5rem 0;
  }
  .cid-t23tC3lHzz .navbar-collapse.collapsing .navbar-buttons,
  .cid-t23tC3lHzz .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-t23tC3lHzz .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-t23tC3lHzz .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-t23tC3lHzz .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity, padding, height;
  }
  .cid-t23tC3lHzz .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-t23tC3lHzz .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-t23tC3lHzz .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 992px) {
  .cid-t23tC3lHzz .navbar .menu-content-top {
    display: block;
  }
  .cid-t23tC3lHzz .menu-content-top .row {
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .cid-t23tC3lHzz .content-right-side {
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-flex-basis: 70%;
    flex-basis: 70%;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: right;
  }
  .cid-t23tC3lHzz .menu-content-top {
    border-bottom: 1px solid #e0e0e0;
  }
  .cid-t23tC3lHzz .menu-bottom {
    display: flex;
  }
  .cid-t23tC3lHzz .navbar {
    display: block;
    padding: 0;
  }
  .cid-t23tC3lHzz .navbar .menu-logo {
    margin-right: auto;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
  }
  .cid-t23tC3lHzz .navbar.navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
    -webkit-align-self: initial;
    align-self: auto;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    z-index: 101;
    min-height: 76px;
  }
  .cid-t23tC3lHzz .navbar-toggler {
    display: none;
  }
}
.cid-t23tC3lHzz .navbar-short .menu-content-top {
  border: none;
}
.cid-t23tC3lHzz .btn {
  padding: 0.7rem 1.5rem;
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
}
.cid-t23tC3lHzz .btn .mbr-iconfont {
  font-size: 1.2em;
}
.cid-t23tC3lHzz .navbar-toggleable-sm .navbar-collapse {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  padding-right: 5rem;
  width: 100%;
}
.cid-t23tC3lHzz .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
}
.cid-t23tC3lHzz .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-t23tC3lHzz .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-t23tC3lHzz .dropdown .dropdown-menu {
  background: #ffffff;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
@media (max-width: 991px) {
  .cid-t23tC3lHzz .dropdown .dropdown-menu {
    overflow: hidden;
  }
}
.cid-t23tC3lHzz .dropdown .dropdown-menu .dropdown-item {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-t23tC3lHzz .dropdown .dropdown-menu .dropdown-item::after {
  right: 1rem;
}
.cid-t23tC3lHzz .dropdown .dropdown-menu .dropdown-item:hover .mbr-iconfont:before {
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}
.cid-t23tC3lHzz .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-t23tC3lHzz .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-t23tC3lHzz .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-t23tC3lHzz .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-t23tC3lHzz .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  z-index: 1000;
}
.cid-t23tC3lHzz .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-t23tC3lHzz .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-t23tC3lHzz .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-t23tC3lHzz .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-t23tC3lHzz .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-t23tC3lHzz button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
}
.cid-t23tC3lHzz button.navbar-toggler:focus {
  outline: none;
}
.cid-t23tC3lHzz button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-t23tC3lHzz button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-t23tC3lHzz button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-t23tC3lHzz button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-t23tC3lHzz button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-t23tC3lHzz nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-t23tC3lHzz nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-t23tC3lHzz nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-t23tC3lHzz nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-t23tC3lHzz .collapsed.navbar {
  -webkit-flex-direction: column;
  flex-direction: column;
}
.cid-t23tC3lHzz .collapsed .menu-bottom {
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.cid-t23tC3lHzz .collapsed .menu-logo {
  margin-right: 0;
}
.cid-t23tC3lHzz .collapsed .btn {
  display: flex;
}
.cid-t23tC3lHzz .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-t23tC3lHzz .collapsed .navbar-collapse.collapsing,
.cid-t23tC3lHzz .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-t23tC3lHzz .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-t23tC3lHzz .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-t23tC3lHzz .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-t23tC3lHzz .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-t23tC3lHzz .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-t23tC3lHzz .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-t23tC3lHzz .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-t23tC3lHzz .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  .cid-t23tC3lHzz .collapsed:not(.navbar-short) .navbar-collapse {
    max-height: calc(100vh - 3.8rem  - 1rem);
  }
  .cid-t23tC3lHzz .collapsed .dropdown .dropdown-menu {
    overflow: hidden;
  }
}
.cid-t23tC3lHzz .collapsed button.navbar-toggler {
  display: block;
  -webkit-align-self: center;
  align-self: center;
}
.cid-t23tC3lHzz .collapsed .navbar-brand {
  margin-left: 1rem !important;
  margin-top: .5rem;
}
.cid-t23tC3lHzz .collapsed .navbar-toggleable-sm {
  -webkit-flex-direction: column;
  flex-direction: column;
}
.cid-t23tC3lHzz .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .25s;
  transition-property: opacity, padding, height;
}
.cid-t23tC3lHzz .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-t23tC3lHzz .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-t23tC3lHzz .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
.cid-t23tC3lHzz .collapsed .dropdown-item:before {
  display: none;
}
.cid-t23tC3lHzz .navbar-dropdown {
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.cid-t23tC3lHzz .navbar-collapse {
  -ms-flex-preferred-size: auto;
  -webkit-flex-basis: auto;
  flex-basis: auto;
}
.cid-t23tC3lHzz .nav-link:focus {
  outline: none;
}
.cid-t23tC3lHzz .navbar-toggler {
  position: relative;
}
.cid-t23tC3lHzz .dropdown-item.active,
.cid-t23tC3lHzz .dropdown-item:active {
  background-color: #ffffff;
  color: auto;
}
.cid-t23tC3lHzz .nav-link:hover,
.cid-t23tC3lHzz .dropdown-item:hover {
  color: #40a8e4;
}
.cid-t23wXPDk12 {
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #40a8e4;
}
.cid-t23wXPDk12 p {
  text-align: center;
}
.cid-t23wXPDk12 .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.cid-t23wXPDk12 .btn-underline:hover {
  color: #505050;
}
.cid-t23wXPDk12 .btn-underline:before {
  background-color: #505050;
}
.cid-t23wXPDk12 .social-list a:focus {
  text-decoration: none;
}
.cid-t23wXPDk12 .text-copyright {
  width: 100%;
}
.cid-t23wXPDk12 .img-logo-footer {
  margin-right: 1rem;
  max-width: 5rem;
}
.cid-t23wXPDk12 .text-logo-footer {
  display: inline-block;
  vertical-align: middle;
}
.cid-t23wXPDk12 .logo-footer {
  line-height: normal;
}
.cid-t23wXPDk12 .copyright {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.cid-t23wXPDk12 .social-btns {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-t23wXPDk12 .mbr-section-btn {
  font-size: 16px;
}
.cid-t23wXPDk12 .mbr-section-btn a {
  margin: 0 1rem 0.5rem;
}
